<!DOCTYPE html>
<head>
    <link href="{{ url_for('static', filename='footer.css') }}" type="text/css" rel="stylesheet"/>
</head>
<body>
    <ul>
        <li><a href="mailto:aamsi.dev@gmail.com" target="_blank"><i class="fas fa-envelope" aria-hidden="true"></i></a></li>
        <li><a href="https://www.linkedin.com/in/isma%C3%ABl-ouali-86b3a3192/" target="_blank"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
        <li><a href="https://github.com/Aamsi/grandpy-bot" target="_blank"><i class="fab fa-github" aria-hidden="true"></i></a></li>
    </ul>
</body>